<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_bVrh0AoMEeuFz9C3JgGwmA" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;&#xA;in event paimentChecked&#xA;in event orderDelivered&#xA;in event removeCup&#xA;out event doReset&#xA;out event doStartPreparation&#xA;&#xA;var drinkSelected : boolean&#xA;var paiment : boolean" name="coffeeMachine">
    <regions xmi:id="_bWbIsAoMEeuFz9C3JgGwmA" name="Order part">
      <vertices xsi:type="sgraph:Entry" xmi:id="_bYI_8AoMEeuFz9C3JgGwmA">
        <outgoingTransitions xmi:id="_a9OzUAoREeuFz9C3JgGwmA" specification="" target="_aT2xEAoPEeuFz9C3JgGwmA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_aT2xEAoPEeuFz9C3JgGwmA" name="Rdy for order" incomingTransitions="_a9OzUAoREeuFz9C3JgGwmA _rkqNsAoTEeuFz9C3JgGwmA">
        <regions xmi:id="_aT3YIAoPEeuFz9C3JgGwmA" name="PaimentGestion">
          <vertices xsi:type="sgraph:State" xmi:id="_bw594AoPEeuFz9C3JgGwmA" specification="entry / paiment = false" name="PaimentWaiting" incomingTransitions="_gzWkEAoPEeuFz9C3JgGwmA _R2YZAAoQEeuFz9C3JgGwmA">
            <outgoingTransitions xmi:id="_pwznQAoPEeuFz9C3JgGwmA" specification="" target="_naR0wAoPEeuFz9C3JgGwmA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_eOCusAoPEeuFz9C3JgGwmA">
            <outgoingTransitions xmi:id="_gzWkEAoPEeuFz9C3JgGwmA" specification="" target="_bw594AoPEeuFz9C3JgGwmA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_naR0wAoPEeuFz9C3JgGwmA" specification="entry / paiment = true" name="Paiment" incomingTransitions="_pwznQAoPEeuFz9C3JgGwmA">
            <outgoingTransitions xmi:id="_MreIcAoSEeuFz9C3JgGwmA" specification="[drinkSelected == true]  / raise doStartPreparation" target="_MrevngoSEeuFz9C3JgGwmA"/>
            <outgoingTransitions xmi:id="_R2YZAAoQEeuFz9C3JgGwmA" specification="after 45s/raise doReset" target="_bw594AoPEeuFz9C3JgGwmA"/>
            <outgoingTransitions xmi:id="_Y2QqUAoSEeuFz9C3JgGwmA" specification="[drinkSelected == true]/ raise doReset" target="_nT8RUAoREeuFz9C3JgGwmA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_W_a1wAoYEeuFz9C3JgGwmA" specification="entry / paiment = true" name="PaimentNFC"/>
        </regions>
        <regions xmi:id="_aT3YIQoPEeuFz9C3JgGwmA" name="DrinkSelectionGestion">
          <vertices xsi:type="sgraph:State" xmi:id="_qc6UwAoOEeuFz9C3JgGwmA" specification="entry / drinkSelected = false" name="DrinkSelectedWaiting" incomingTransitions="_hWNZgAoPEeuFz9C3JgGwmA _9GIAsAoQEeuFz9C3JgGwmA">
            <outgoingTransitions xmi:id="_qc6fUAoPEeuFz9C3JgGwmA" specification="" target="_orhaMAoPEeuFz9C3JgGwmA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_ejSl8AoPEeuFz9C3JgGwmA">
            <outgoingTransitions xmi:id="_hWNZgAoPEeuFz9C3JgGwmA" specification="" target="_qc6UwAoOEeuFz9C3JgGwmA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_orhaMAoPEeuFz9C3JgGwmA" specification="entry / drinkSelected = true" name="DrinkSelected" incomingTransitions="_qc6fUAoPEeuFz9C3JgGwmA">
            <outgoingTransitions xmi:id="_MreIdwoSEeuFz9C3JgGwmA" specification="[paiment == true]/ raise doStartPreparation" target="_MrevngoSEeuFz9C3JgGwmA"/>
            <outgoingTransitions xmi:id="_9GIAsAoQEeuFz9C3JgGwmA" specification="after 45s/raise doReset" target="_qc6UwAoOEeuFz9C3JgGwmA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nT8RUAoREeuFz9C3JgGwmA" name="CheckPaiment" incomingTransitions="_Y2QqUAoSEeuFz9C3JgGwmA">
        <outgoingTransitions xmi:id="_c5hrcAoSEeuFz9C3JgGwmA" specification="paimentChecked / raise doStartPreparation" target="_MrevngoSEeuFz9C3JgGwmA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MrevngoSEeuFz9C3JgGwmA" name="Preparation" incomingTransitions="_MreIdwoSEeuFz9C3JgGwmA _MreIcAoSEeuFz9C3JgGwmA _c5hrcAoSEeuFz9C3JgGwmA">
        <outgoingTransitions xmi:id="_P3DeMAoTEeuFz9C3JgGwmA" specification="orderDelivered/ raise waitForRecuperation" target="_OnAyoAoTEeuFz9C3JgGwmA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_OnAyoAoTEeuFz9C3JgGwmA" specification="" name="waitingForRecuperation" incomingTransitions="_P3DeMAoTEeuFz9C3JgGwmA">
        <outgoingTransitions xmi:id="_rkqNsAoTEeuFz9C3JgGwmA" specification="removeCup/ raise doReset" target="_aT2xEAoPEeuFz9C3JgGwmA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_bWZTgAoMEeuFz9C3JgGwmA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_bVrh0AoMEeuFz9C3JgGwmA" measurementUnit="Pixel">
    <children xmi:id="_bWjrkAoMEeuFz9C3JgGwmA" type="Region" element="_bWbIsAoMEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_bYFVkAoMEeuFz9C3JgGwmA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bYFVkQoMEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bYFVkgoMEeuFz9C3JgGwmA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_bYGjsAoMEeuFz9C3JgGwmA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_bYI_8QoMEeuFz9C3JgGwmA" type="Entry" element="_bYI_8AoMEeuFz9C3JgGwmA">
          <children xmi:id="_bYKOEAoMEeuFz9C3JgGwmA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_bYKOEwoMEeuFz9C3JgGwmA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_bYKOFAoMEeuFz9C3JgGwmA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_bYKOFQoMEeuFz9C3JgGwmA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bYKOEQoMEeuFz9C3JgGwmA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bYKOEgoMEeuFz9C3JgGwmA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bYI_8goMEeuFz9C3JgGwmA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_bYI_8woMEeuFz9C3JgGwmA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bYKOFgoMEeuFz9C3JgGwmA" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_aT3_MAoPEeuFz9C3JgGwmA" type="State" element="_aT2xEAoPEeuFz9C3JgGwmA">
          <children xsi:type="notation:DecorationNode" xmi:id="_aT3_NAoPEeuFz9C3JgGwmA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_aT3_NQoPEeuFz9C3JgGwmA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_aT4mQAoPEeuFz9C3JgGwmA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aT4mQQoPEeuFz9C3JgGwmA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_aT4mQgoPEeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aT4mQwoPEeuFz9C3JgGwmA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aT4mRAoPEeuFz9C3JgGwmA" type="StateFigureCompartment">
            <children xmi:id="_aT7CgAoPEeuFz9C3JgGwmA" type="Region" element="_aT3YIAoPEeuFz9C3JgGwmA">
              <children xsi:type="notation:DecorationNode" xmi:id="_aT7CgwoPEeuFz9C3JgGwmA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_aT7ChAoPEeuFz9C3JgGwmA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_aT7ChQoPEeuFz9C3JgGwmA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_aT7ChgoPEeuFz9C3JgGwmA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_bw5W0QoPEeuFz9C3JgGwmA" type="State" element="_bw594AoPEeuFz9C3JgGwmA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_bw5W0goPEeuFz9C3JgGwmA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_bw5W0woPEeuFz9C3JgGwmA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_bw5W1AoPEeuFz9C3JgGwmA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_bw5W1QoPEeuFz9C3JgGwmA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_bw5W1goPEeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bw5W1woPEeuFz9C3JgGwmA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_bw5W2AoPEeuFz9C3JgGwmA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_bw5W2QoPEeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_bw5W2goPEeuFz9C3JgGwmA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bw5W2woPEeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bw5W3AoPEeuFz9C3JgGwmA" x="16" y="35" width="132" height="84"/>
                </children>
                <children xmi:id="_eODVwAoPEeuFz9C3JgGwmA" type="Entry" element="_eOCusAoPEeuFz9C3JgGwmA">
                  <children xmi:id="_eOD80AoPEeuFz9C3JgGwmA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_eOD80woPEeuFz9C3JgGwmA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_eOD81AoPEeuFz9C3JgGwmA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_eOD81QoPEeuFz9C3JgGwmA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_eOD80QoPEeuFz9C3JgGwmA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eOD80goPEeuFz9C3JgGwmA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_eODVwQoPEeuFz9C3JgGwmA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_eODVwgoPEeuFz9C3JgGwmA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eODVwwoPEeuFz9C3JgGwmA" x="65" y="-2" width="15" height="15"/>
                </children>
                <children xmi:id="_naTC4AoPEeuFz9C3JgGwmA" type="State" element="_naR0wAoPEeuFz9C3JgGwmA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_naTC5AoPEeuFz9C3JgGwmA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_naTC5QoPEeuFz9C3JgGwmA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_naTC5goPEeuFz9C3JgGwmA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_naTC5woPEeuFz9C3JgGwmA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_naTC6AoPEeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_naTC6QoPEeuFz9C3JgGwmA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_naTC6goPEeuFz9C3JgGwmA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_naTC4QoPEeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_naTC4goPEeuFz9C3JgGwmA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_naTp8AoPEeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_naTC4woPEeuFz9C3JgGwmA" x="68" y="155" width="166" height="65"/>
                </children>
                <children xmi:id="_W_aOsQoYEeuFz9C3JgGwmA" type="State" element="_W_a1wAoYEeuFz9C3JgGwmA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_W_aOsgoYEeuFz9C3JgGwmA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W_aOswoYEeuFz9C3JgGwmA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_W_aOtAoYEeuFz9C3JgGwmA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W_aOtQoYEeuFz9C3JgGwmA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_W_aOtgoYEeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W_aOtwoYEeuFz9C3JgGwmA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W_aOuAoYEeuFz9C3JgGwmA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W_aOuQoYEeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_W_aOugoYEeuFz9C3JgGwmA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W_aOuwoYEeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W_aOvAoYEeuFz9C3JgGwmA" y="245" width="166" height="65"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aT7ChwoPEeuFz9C3JgGwmA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_aT7CgQoPEeuFz9C3JgGwmA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aT7CggoPEeuFz9C3JgGwmA"/>
            </children>
            <children xmi:id="_aT7pkAoPEeuFz9C3JgGwmA" type="Region" element="_aT3YIQoPEeuFz9C3JgGwmA">
              <children xsi:type="notation:DecorationNode" xmi:id="_aT7pkwoPEeuFz9C3JgGwmA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_aT7plAoPEeuFz9C3JgGwmA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_aT7plQoPEeuFz9C3JgGwmA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_aT7plgoPEeuFz9C3JgGwmA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_qc7i4AoOEeuFz9C3JgGwmA" type="State" element="_qc6UwAoOEeuFz9C3JgGwmA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qc7i5AoOEeuFz9C3JgGwmA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qc7i5QoOEeuFz9C3JgGwmA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qc7i5goOEeuFz9C3JgGwmA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qc7i5woOEeuFz9C3JgGwmA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qc8J8AoOEeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qc8J8QoOEeuFz9C3JgGwmA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qc8J8goOEeuFz9C3JgGwmA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qc7i4QoOEeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qc7i4goOEeuFz9C3JgGwmA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qc8J8woOEeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qc7i4woOEeuFz9C3JgGwmA" x="9" y="35" width="132" height="84"/>
                </children>
                <children xmi:id="_ejTNAAoPEeuFz9C3JgGwmA" type="Entry" element="_ejSl8AoPEeuFz9C3JgGwmA">
                  <children xmi:id="_ejTNBAoPEeuFz9C3JgGwmA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_ejTNBwoPEeuFz9C3JgGwmA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_ejTNCAoPEeuFz9C3JgGwmA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_ejTNCQoPEeuFz9C3JgGwmA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ejTNBQoPEeuFz9C3JgGwmA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ejTNBgoPEeuFz9C3JgGwmA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ejTNAQoPEeuFz9C3JgGwmA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_ejTNAgoPEeuFz9C3JgGwmA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ejTNAwoPEeuFz9C3JgGwmA" x="34" y="-1" width="15" height="15"/>
                </children>
                <children xmi:id="_oriBQAoPEeuFz9C3JgGwmA" type="State" element="_orhaMAoPEeuFz9C3JgGwmA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_oriBRAoPEeuFz9C3JgGwmA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_oriBRQoPEeuFz9C3JgGwmA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_oriBRgoPEeuFz9C3JgGwmA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oriBRwoPEeuFz9C3JgGwmA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_oriBSAoPEeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oriBSQoPEeuFz9C3JgGwmA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oriBSgoPEeuFz9C3JgGwmA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_oriBQQoPEeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_oriBQgoPEeuFz9C3JgGwmA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_orioUAoPEeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oriBQwoPEeuFz9C3JgGwmA" x="12" y="150" width="200" height="78"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aT7plwoPEeuFz9C3JgGwmA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_aT7pkQoPEeuFz9C3JgGwmA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aT7pkgoPEeuFz9C3JgGwmA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_aT3_MQoPEeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_aT3_MgoPEeuFz9C3JgGwmA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aT4mRQoPEeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aT3_MwoPEeuFz9C3JgGwmA" x="13" y="110" width="560" height="409"/>
        </children>
        <children xmi:id="_nT84YAoREeuFz9C3JgGwmA" type="State" element="_nT8RUAoREeuFz9C3JgGwmA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nT84ZAoREeuFz9C3JgGwmA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nT84ZQoREeuFz9C3JgGwmA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nT84ZgoREeuFz9C3JgGwmA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nT84ZwoREeuFz9C3JgGwmA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nT9fcAoREeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nT9fcQoREeuFz9C3JgGwmA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nT9fcgoREeuFz9C3JgGwmA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nT84YQoREeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nT84YgoREeuFz9C3JgGwmA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nT9fcwoREeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nT84YwoREeuFz9C3JgGwmA" x="480" y="481" width="114" height="112"/>
        </children>
        <children xmi:id="_MrevgAoSEeuFz9C3JgGwmA" type="State" element="_MrevngoSEeuFz9C3JgGwmA">
          <children xsi:type="notation:DecorationNode" xmi:id="_MrevgQoSEeuFz9C3JgGwmA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MrevggoSEeuFz9C3JgGwmA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MrevgwoSEeuFz9C3JgGwmA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MrevhAoSEeuFz9C3JgGwmA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MrevhQoSEeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MrevhgoSEeuFz9C3JgGwmA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MrevhwoSEeuFz9C3JgGwmA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MreviAoSEeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MreviQoSEeuFz9C3JgGwmA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MrevigoSEeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MreviwoSEeuFz9C3JgGwmA" x="715" y="243" width="121" height="96"/>
        </children>
        <children xmi:id="_OnBZsAoTEeuFz9C3JgGwmA" type="State" element="_OnAyoAoTEeuFz9C3JgGwmA">
          <children xsi:type="notation:DecorationNode" xmi:id="_OnBZtAoTEeuFz9C3JgGwmA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_OnBZtQoTEeuFz9C3JgGwmA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_OnBZtgoTEeuFz9C3JgGwmA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OnBZtwoTEeuFz9C3JgGwmA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_OnBZuAoTEeuFz9C3JgGwmA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OnBZuQoTEeuFz9C3JgGwmA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OnBZugoTEeuFz9C3JgGwmA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_OnBZsQoTEeuFz9C3JgGwmA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_OnBZsgoTEeuFz9C3JgGwmA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_OnBZuwoTEeuFz9C3JgGwmA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OnBZswoTEeuFz9C3JgGwmA" x="637" y="68" width="187" height="108"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bYHKwAoMEeuFz9C3JgGwmA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_bWjrkQoMEeuFz9C3JgGwmA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bYHx0AoMEeuFz9C3JgGwmA" y="48" width="979" height="685"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_bYb64AoMEeuFz9C3JgGwmA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_bYch8AoMEeuFz9C3JgGwmA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bYch8QoMEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bYch8goMEeuFz9C3JgGwmA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_bYch8woMEeuFz9C3JgGwmA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bYch9AoMEeuFz9C3JgGwmA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bYdJAAoMEeuFz9C3JgGwmA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bWZTgQoMEeuFz9C3JgGwmA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_bWZTggoMEeuFz9C3JgGwmA"/>
    <edges xmi:id="_gzXLIAoPEeuFz9C3JgGwmA" type="Transition" element="_gzWkEAoPEeuFz9C3JgGwmA" source="_eODVwAoPEeuFz9C3JgGwmA" target="_bw5W0QoPEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gzXLJAoPEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gzXLJQoPEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gzXLJgoPEeuFz9C3JgGwmA" x="-1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gzXLIQoPEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gzXLIwoPEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gzXLIgoPEeuFz9C3JgGwmA" points="[2, 6, 4, -28]$[2, 32, 4, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gzYZQAoPEeuFz9C3JgGwmA" id="(0.4090909090909091,0.023809523809523808)"/>
    </edges>
    <edges xmi:id="_hWOAkAoPEeuFz9C3JgGwmA" type="Transition" element="_hWNZgAoPEeuFz9C3JgGwmA" source="_ejTNAAoPEeuFz9C3JgGwmA" target="_qc7i4AoOEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_hWOnoQoPEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hWOnogoPEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hWOnowoPEeuFz9C3JgGwmA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hWOAkQoPEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hWOnoAoPEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hWOAkgoPEeuFz9C3JgGwmA" points="[3, 7, 1, -45]$[-15, 35, -17, -17]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hWPOsAoPEeuFz9C3JgGwmA" id="(0.25757575757575757,0.15476190476190477)"/>
    </edges>
    <edges xmi:id="_pw0OUAoPEeuFz9C3JgGwmA" type="Transition" element="_pwznQAoPEeuFz9C3JgGwmA" source="_bw5W0QoPEeuFz9C3JgGwmA" target="_naTC4AoPEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_pw0OVAoPEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pw0OVQoPEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pw0OVgoPEeuFz9C3JgGwmA" x="-4" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_pw0OUQoPEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_pw0OUwoPEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_pw0OUgoPEeuFz9C3JgGwmA" points="[18, 3, -47, -43]$[18, 39, -47, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pw1ccAoPEeuFz9C3JgGwmA" id="(0.4393939393939394,0.9642857142857143)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pw1ccQoPEeuFz9C3JgGwmA" id="(0.4306569343065693,0.1076923076923077)"/>
    </edges>
    <edges xmi:id="_qc7GYAoPEeuFz9C3JgGwmA" type="Transition" element="_qc6fUAoPEeuFz9C3JgGwmA" source="_qc7i4AoOEeuFz9C3JgGwmA" target="_oriBQAoPEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qc7tcQoPEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qc7tcgoPEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qc7tcwoPEeuFz9C3JgGwmA" x="-1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qc7GYQoPEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qc7tcAoPEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qc7GYgoPEeuFz9C3JgGwmA" points="[-53, 3, -78, -41]$[-53, 34, -78, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qc87kAoPEeuFz9C3JgGwmA" id="(0.5606060606060606,0.9642857142857143)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qc87kQoPEeuFz9C3JgGwmA" id="(0.48214285714285715,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_MrevjAoSEeuFz9C3JgGwmA" type="Transition" element="_MreIdwoSEeuFz9C3JgGwmA" source="_oriBQAoPEeuFz9C3JgGwmA" target="_MrevgAoSEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_MrevjQoSEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MrevjgoSEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MrevjwoSEeuFz9C3JgGwmA" x="64" y="27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MrevkAoSEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MrevkQoSEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MrevkgoSEeuFz9C3JgGwmA" points="[-37, 3, -373, 95]$[-37, 23, -373, 115]$[103, 23, -233, 115]$[103, -119, -233, -27]$[319, -119, -17, -27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MrevkwoSEeuFz9C3JgGwmA" id="(0.6875,0.9666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MrevlAoSEeuFz9C3JgGwmA" id="(0.14049586776859505,0.7083333333333334)"/>
    </edges>
    <edges xmi:id="_MrevlQoSEeuFz9C3JgGwmA" type="Transition" element="_MreIcAoSEeuFz9C3JgGwmA" source="_naTC4AoPEeuFz9C3JgGwmA" target="_MrevgAoSEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_MrevlgoSEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MrevnAoSEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MrevnQoSEeuFz9C3JgGwmA" x="-94" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MrevlwoSEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MrevmAoSEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MrevmQoSEeuFz9C3JgGwmA" points="[-54, 4, -565, 135]$[-54, 194, -565, 325]$[583, 194, 72, 325]$[583, -57, 72, 74]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MrevmgoSEeuFz9C3JgGwmA" id="(0.5620437956204379,0.9384615384615385)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MrevmwoSEeuFz9C3JgGwmA" id="(0.10743801652892562,0.22916666666666666)"/>
    </edges>
    <edges xmi:id="_R2ZAEAoQEeuFz9C3JgGwmA" type="Transition" element="_R2YZAAoQEeuFz9C3JgGwmA" source="_naTC4AoPEeuFz9C3JgGwmA" target="_bw5W0QoPEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_R2ZAFAoQEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_R2ZAFQoQEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_R2ZAFgoQEeuFz9C3JgGwmA" x="-58" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_R2ZAEQoQEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_R2ZAEwoQEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_R2ZAEgoQEeuFz9C3JgGwmA" points="[0, 0, 56, 41]$[0, -19, 56, 22]$[-32, -19, 24, 22]$[-32, -36, 24, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_R2aOMAoQEeuFz9C3JgGwmA" id="(0.5766423357664233,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_R2aOMQoQEeuFz9C3JgGwmA" id="(0.6893939393939394,0.9404761904761905)"/>
    </edges>
    <edges xmi:id="_9GInwAoQEeuFz9C3JgGwmA" type="Transition" element="_9GIAsAoQEeuFz9C3JgGwmA" source="_oriBQAoPEeuFz9C3JgGwmA" target="_qc7i4AoOEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_9GJO0AoQEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9GJO0QoQEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9GJO0goQEeuFz9C3JgGwmA" x="1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9GInwQoQEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9GInwwoQEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9GInwgoQEeuFz9C3JgGwmA" points="[-49, 0, -3, 34]$[-49, -31, -3, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9GKc8AoQEeuFz9C3JgGwmA" id="(0.6875,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9GKc8QoQEeuFz9C3JgGwmA" id="(0.7121212121212122,0.9642857142857143)"/>
    </edges>
    <edges xmi:id="_a9PaYAoREeuFz9C3JgGwmA" type="Transition" element="_a9OzUAoREeuFz9C3JgGwmA" source="_bYI_8QoMEeuFz9C3JgGwmA" target="_aT3_MAoPEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_a9QBcAoREeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_a9QBcQoREeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_a9QBcgoREeuFz9C3JgGwmA" x="27" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_a9PaYQoREeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_a9PaYwoREeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_a9PaYgoREeuFz9C3JgGwmA" points="[4, 5, -173, -79]$[4, 71, -173, -13]$[121, 71, -56, -13]$[121, 83, -56, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_a9QogAoREeuFz9C3JgGwmA" id="(0.431266846361186,0.003257328990228013)"/>
    </edges>
    <edges xmi:id="_Y2RRYAoSEeuFz9C3JgGwmA" type="Transition" element="_Y2QqUAoSEeuFz9C3JgGwmA" source="_naTC4AoPEeuFz9C3JgGwmA" target="_nT84YAoREeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y2RRZAoSEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y2RRZQoSEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y2RRZgoSEeuFz9C3JgGwmA" x="11" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y2RRYQoSEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y2RRYwoSEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y2RRYgoSEeuFz9C3JgGwmA" points="[-51, 3, -296, -161]$[-51, 160, -296, -4]$[233, 160, -12, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y2SfgAoSEeuFz9C3JgGwmA" id="(0.7445255474452555,0.9538461538461539)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y2SfgQoSEeuFz9C3JgGwmA" id="(0.10526315789473684,0.7142857142857143)"/>
    </edges>
    <edges xmi:id="_c5iSgAoSEeuFz9C3JgGwmA" type="Transition" element="_c5hrcAoSEeuFz9C3JgGwmA" source="_nT84YAoREeuFz9C3JgGwmA" target="_MrevgAoSEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_c5iShAoSEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c5iShQoSEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c5iShgoSEeuFz9C3JgGwmA" x="26" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_c5iSgQoSEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_c5iSgwoSEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_c5iSggoSEeuFz9C3JgGwmA" points="[2, -47, -124, 173]$[133, -47, 7, 173]$[133, -198, 7, 22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c5i5kAoSEeuFz9C3JgGwmA" id="(0.9824561403508771,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c5i5kQoSEeuFz9C3JgGwmA" id="(0.024793388429752067,0.7708333333333334)"/>
    </edges>
    <edges xmi:id="_P3EFQAoTEeuFz9C3JgGwmA" type="Transition" element="_P3DeMAoTEeuFz9C3JgGwmA" source="_MrevgAoSEeuFz9C3JgGwmA" target="_OnBZsAoTEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_P3EFRAoTEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_P3EFRQoTEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_P3EsUAoTEeuFz9C3JgGwmA" x="1" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_P3EFQQoTEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_P3EFQwoTEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_P3EFQgoTEeuFz9C3JgGwmA" points="[-110, -47, 87, 132]$[-110, -114, 87, 65]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P3FTYAoTEeuFz9C3JgGwmA" id="(0.9917355371900827,0.4895833333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P3FTYQoTEeuFz9C3JgGwmA" id="(0.009174311926605505,0.39814814814814814)"/>
    </edges>
    <edges xmi:id="_rkq0wAoTEeuFz9C3JgGwmA" type="Transition" element="_rkqNsAoTEeuFz9C3JgGwmA" source="_OnBZsAoTEeuFz9C3JgGwmA" target="_aT3_MAoPEeuFz9C3JgGwmA">
      <children xsi:type="notation:DecorationNode" xmi:id="_rkrb0QoTEeuFz9C3JgGwmA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rkrb0goTEeuFz9C3JgGwmA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rkrb0woTEeuFz9C3JgGwmA" x="-134" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rkq0wQoTEeuFz9C3JgGwmA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rkrb0AoTEeuFz9C3JgGwmA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rkq0wgoTEeuFz9C3JgGwmA" points="[-23, -2, 367, -44]$[-23, -50, 367, -92]$[-534, -50, -144, -92]$[-534, 40, -144, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rksC4AoTEeuFz9C3JgGwmA" id="(0.5963302752293578,0.018518518518518517)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rksC4QoTEeuFz9C3JgGwmA" id="(0.6172506738544474,0.00554016620498615)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
